{{main-search type=type content=model selected=selected placeholder="Search" action="search"}}

<div class = 'container'>
  <div class = 'search-dashboard'>
    {{food-card content=model favorite="favorite" delete="delete"}}
  </div>
</div>

{{outlet}}
