.container {
  width: 100%;
  margin: auto;
  position: relative;

  .search-data {
    position: relative;
    margin: auto;
    padding-top: 100px;
  }
}

.button {
  display: inline-block;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.buttonFlat {
  height: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2px;
  padding: 0 8px 0 8px;
  margin: 6px 4px 6px 4px;
  border: none;
}

.shadow {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
}

.block-inline{
  display: inline-block;
  #loading-image {
    display: none;
    margin: auto;
  }
}

input{
  display: inline-block;
  &:focus {
    outline: none;
  }
}

#add-query{
  display: inline-block;
}

#add-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 30px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 70px;
}

#delete-submit{
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 30px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 70px;
}

#submit {
  display: inline-block;
  transition: background-color 0.3s ease;
  height: 30px;
  background: $chart1;
  color: white;
  cursor: pointer;
  width: 70px;
}
