nav {
  width: 100%;
  z-index: 800;
  text-align: center;
  background: $page;

  ul {
    position: relative;
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;

    li {
      display: inline-block;
      padding: 0.5em 0;
      margin-right: 2em;
      margin-left: 2em;

      a {
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}
