nav {
  width: 100%;
  top: 0;
  z-index: 800;
  background: $yellow;
  box-shadow: 5px 5px 0 rgba(0,0,0,.1);


  ul {
    position: relative;
    margin: 0;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;

    li {
      display: inline-block;
      padding: 1.35em 0;
      margin-right: 3em;
      font-size: 0.9em;

      a {
        letter-spacing: 2px;
        text-decoration: none;
        color: black;
        font-size: 0.9em;
        font-weight: bold;
      }
    }
  }
}
