html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
  background: $chart1;
  overflow-y: scroll;
  overflow-x: hidden;
  height:100%;
  font-weight: normal;
  font-style: normal;
  font-family: 'Raleway';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &:focus {
    outline: none;
  }
}
