.landing-page {

	margin: auto;
	padding: 0;
	width: 80%;
	text-align: left;
	.body-text{
		position: relative;
		left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		h1 {
			
			font-size: 4em;
			font-family: 'Raleway';
		}
	}
}