.search-container{
  width: 400px;
  display: inline-block;
  text-align: center;
  margin: 25px auto;
  outline-style: none;
  border: none;
  &.add{
    margin: 10px auto;
    width: 200px;
  }
}

.submit-button {
  display: inline-block;
  font-family: 'Raleway';
  text-transform: uppercase;
  height: 30px;
  width: 75px;
  background-color: #FFF;
  border: none;
  color: $poy;
  font-size: 0.8rem;
  transition: 0.4s;
  outline-style: none;
  cursor: pointer;

  &:hover{
    background-color: $yellow;
    color: #FFF;
    transition: 0.4s;
  }
}


#search-bar{
  display: inline-block;
  margin-right: 10px;
  border: none;
  width: 25%;
  height: 30px;
  padding: 0 20px;
  font-size: 0.8rem;
  outline: none;
  &:focus{
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
   }    
 }
}

#search-bar-1{
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  height: 30px;
  border: none;
  padding: 0 20px;
  font-size: 0.8rem;
  outline: none;
  &:focus{
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
   }    
 }
}

#search-bar-2{
  display: inline-block;
  margin: 0 auto;
  width: 25%;
  height: 30px;
  padding: 0 20px;
  border: none;
  font-size: 0.8rem;
  outline: none;
  &:focus{
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
      opacity: 0;
    }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
     opacity: 0;
   }    
 }
}




