$page: #131B00;
$yellow: #F0D890;
$ferrous: #dc4405;
$valentine: #ba0c2f;
$poy: #672e45;
$green: #719e8b;
$peach: #679407;
$chart1: #995667;
$speed: "0.25s";

$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

