.gridly {
  position: relative;
  margin: auto;
  width: 90%;
}

@for $i from 0 through 40 {
  .card {

    h1 {
      font-size: 1.7em;
      margin-right: 30px;
      z-index: 800;
    }

    &.large-#{$i} {
      width: 280px;
      background: #fff;
      min-height: 300px;
      height: auto;

      a.delete-widget {
        display: block;
        color: #000;
        background: rgba(255, 255, 255, 0.2);
        width: 40px;
        height: 35px;
        top: 0;
        right: 0;
        position: absolute;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
      }

      a.fav {
        cursor: pointer;
        top: 0;
        right: 40px;
        position: absolute;
        width: 40px;
        height: 40px;
        display: inline-block;
        overflow: hidden;
        background: {
          image: url("http://cssanimation.rocks/assets/images/posts/steps/twitter_fave.png");
          repeat: no-repeat;
        }
      }
    }
  }
}
