.container {
	position: relative;
}

.search-dashboard {
	display: block;
	margin: auto;
	padding-top: 20px;
	width: 100%;
	text-align: center;
}

.gridly {
  position: relative;
  margin: auto;
  width: 90%;
}

@for $i from 0 through 40 {
  .card {
    table {
      padding: 20px;
    }
    h1#food_name {
      padding: 10px;
      font-size: 1.5em;
      text-align: left;
      background: #fff;
      z-index: 800;
    }

    &.large-#{$i} {
      width: 290px;
      background: #fff;
      min-height: 300px;
      height: auto;

      a.delete-widget {
        display: block;
        color: #000;
        background: rgba(255, 255, 255, 0.2);
        width: 40px;
        height: 35px;
        top: 0;
        right: 0;
        position: absolute;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
      }

      a.fav {
        cursor: pointer;
        top: 0;
        right: 40px;
        position: absolute;
        width: 40px;
        height: 40px;
        display: inline-block;
        overflow: hidden;
      }
    }
  }
}
